/* CSS Illustration and animation */
#svg5 {
  padding: 10px;
}

#path1555 {
  /*Eye*/
  animation: blink-animation 4s steps(5, start) infinite;
  -webkit-animation: blink-animation 4s steps(3, start) infinite;
}

@keyframes blink-animation {
  0% {
    fill: hotpink;
  }
  25% {
    fill: lightsalmon;
  }
  50% {
    fill: pink;
  }
  100% {
    fill: indigo;
  }
}
@-webkit-keyframes blink-animation {
  0% {
    fill: hotpink;
  }
  25% {
    fill: lightsalmon;
  }
  50% {
    fill: pink;
  }
  100% {
    fill: indigo;
  }
}
