body {
  background-color: #f8f8f8;
  font-size: 16px;
}

.container {
  max-width: 780px;
  margin: 0 auto;
}

.absolute {
  position: absolute;
}

.box {
  padding: 15px;
  margin: 15px;
}

.box-data-size {
  background-color: lightblue;
  height: 100px;
  width: calc(100px + attr(data-size));
}

.box-data-size::after {
  content: attr(data-icon);
}

.box-style-size {
  background-color: pink;
  height: 100px;
  width: calc(100px + var(--size));
}

.block_overflow_hidden {
  display: block;
  overflow: hidden;
  margin: 0px;
}

.float-bottom {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.regular-container {
  padding: 15px;
  background-color: white;
}

/* Flexbox */

.flex-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  background-color: white;
}

.flex-col-1 {
  flex: 1 60%;
}

.flex-col-2 {
  flex: 2 40%;
}

.flex-item-1,
.flex-item-2,
.flex-item-3 {
  width: 30%;
}

/* Definitions */

dt {
  font-weight: bold;
}

dd {
  margin: 15px;
  border-left: 1px solid gray;
  line-height: 1.5rem;
  padding-left: 15px;
  line-height: 1.5em;
}

/* Breadcrump */

.breadcrump {
  padding-left: 5px;
  display: flex;
}

.breadcrump li {
  list-style-type: none;
}

.breadcrump li:not(:last-child)::after {
  content: ">";
}

.breadcrump .active {
  font-weight: bold;
}

/* Code Formating */

pre {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
    monospace;
  white-space: pre-wrap;
  background-color: black;
  color: white;
  padding: 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
}

/* Forms and Inputs */

.form-element {
  padding: 0px 0px 15px 0px;
}

.form-help {
  display: block;
  font-style: italic;
}

/* Images */
.image {
  width: 100%;
  max-width: 600px;
}

/* Font Styles */

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.adverticing {
  /*word-wrap: break-word;*/
  /*overflow:auto;*/
  /*word-break: break-all;*/
  hyphens: manual;
  overflow-wrap: break-word;
}

.large-font {
  font-size: 2rem;
}

.space-format {
  word-spacing: 0.75em;
}

/* Decorations */

.border {
  border: solid 1px black;
}

.index li {
  list-style-type: number;
}

/* Colors */

.gray {
  background-color: #ccc;
}

.mutted-white {
  background-color: #f8f8f8;
}

.yellow {
  background-color: antiquewhite;
}
.pink {
  background-color: hotpink;
}
